<div class='city-banner' style="background-image: url(https://source.unsplash.com/random/?<%= @city.name%>)">
</div>
<%= render 'places/list', places: @list.places, is_wishlist: @list.is_wishlist %>

