<div class='city-banner' style="background-image: url(https://source.unsplash.com/random/?<%= @city.name%>)">
  <img src="https://image.freepik.com/free-vector/street-map-with-pin-routes_23-2147622544.jpg" alt="" class="modal-img" data-toggle="modal" data-target="#myModal">
</div>
<div class="container">
  <div class="city-name">
    <h1><%= @city.name %></h1>
    <% if @list.is_wishlist? %>
      <h3>Your Wishlist</h3>
      <p><small>Go on and add some tips!</small></p>
    <% else %>
      <h3><%= @list.user.username %>'s Tips</h3>
    <% end %>
  </div>
<%= render 'places/list', places: @list.places, is_wishlist: @list.is_wishlist %>

