.city-name{
  margin: 20px;
  text-align: center;

  h1{
    color:$pink;
    text-transform: uppercase;
  }

  h3{
    color: $light-grey;
  }
}


.reset{
    color:$grey;
}

.mapboxgl-popup-content{
  padding: 20px 20px 20px !important;
  a{
    font-size: 12px;
    color: black !important;
  }

  h2{
    font-size:23px;
    font-weight: 700;
    color: $pink !important;
  }
}

.mapboxgl-popup-close-button{
  color: $pink !important;
  font-size: 20px;
}

.place-popup{
  height: 20vh;
  width: 50vw;
  overflow: hidden;

}

g {
  fill: rgb(255, 4, 125);
}


.location-box{
    color: #FF047D;
    width: 100%;
    padding: 9px 9px;
    border-radius: 3px;
    background: white;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0px auto;
    opacity: 0.7;

    a{
      color: black;
    }


}
