
.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
}
}

div.boolean, .simple_form input[type='submit'] {
  color: white;
  border: none;
  background-color: gray;
  opacity: 0.5;
  border-radius: 50px;
  font-size: 15px;
}

.input-hidden {
  border: none;
  background-color: transparent;
}

.input {
  border-color: $pink !important;
  background-color: transparent;
}

.form-group {
  padding: 0;
}

.input-centered{
  text-align:center;
}
.no-bs-validation {
  background-image: inherit !important;
  padding-right: 0px !important;
  &:focus {
    border-color: inherit;
    box-shadow: 0 0 0 .2rem $gray-400;
  }
}

.followers {
  a {
    color: black
  }

  p {
    margin-bottom: 0;
  }
}

.count-votes p {
  margin-bottom: 0 !important;
}

.wrapper {
  margin: 0 auto;
  margin-top: 20px;
}

.user-photo {
  width: 40%;
  position: relative;
}

.absolute {
  position: absolute;
  bottom: -4%;
  left: 33%;
}
