
<div class="intro container">
  <h1 class="title">In friends <br> we trust.</h1>
  <p>Local recommendations from <br> people you trust.</p>

  <%= form_tag(root_path, method: 'get') do %>
    <div id= "search-data" class="form-search search-data d-flex" >
      <%= text_field_tag :query, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Search for friends, places or cities" %>
    </div>
  <% end %>
<div class="current-location">
    <i class="fas fa-map-marker-alt"></i>
    <%= link_to "Use my current location.", "#", id:'current-location'%>
  </div>
</div>
