.btn-pink {
  color: white;
  padding: 6px 18px;
  border-radius: 3px;
  background: $pink;
  transition: background 0.3s ease;
  font-family: 'Roboto';
  font-weight: 500;

  &:hover {
  background: #E16565;
  color: white;
  }
}

.btn-pink-tags {
  color: white;
  padding: 1px 9px;
  border-radius: 3px;
  background: $pink;
  transition: background 0.3s ease;
  font-size: 0.75em;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 8px;
  opacity: 0.7;
}

.btn-current-location {
  color: $pink;
  width: 92%;
  padding: 4px 9px;
  border-radius: 3px;
  background: $light-grey;
  transition: background 0.3s ease;
  font-size: 1em;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 6px auto;
  opacity: 0.7;
}
