.fig-caption {
  color: $gray;
  opacity: 0.6;
  font-family: 'Roboto';
  font-size: .75em;
  margin-top: -16%;
  margin-left: -1%;
}

.fig-caption_no-filter {
  color: $pink;
  font-family: 'Roboto';
  font-size: .75em;
  margin-top: -15%;
  margin-left: -1%;
  outline: none;
}
