
.form-container {
  background-color: white;
  overflow: visible;
  height: 100vh;
  padding-left: 32%;
  display: flex;
  justify-content: space-between;
}

.simple_form {
  color: white;

  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    // width: 100px;
    // text-align: right;
    margin: 2px 10px;
    color: black;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}



input {

  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.user-photo .modal-content {
  width: 85%;
  // margin: 0 auto !important;
  margin-left: -10px !important;
  margin-top: -35px !important;
}

.modal-content {
  width: 85%;
  margin-left: 27px;
  margin-top: 20px;
}


.col-form-label {
  font-size: 20px;
  color: $pink;
  font-weight: 500;
}

.simple_form input[type='submit'] {
  background-color: $pink !important;
  opacity: 1 !important;
  margin: 0 4px;
  height: 38px;
}

.form-group{
  margin-bottom: 15px !important;
}

// #log-in-form{
//   color: black;
//   width: 0;
//   text-align: none;
//   margin: 0;
// }

////////FILTER MODAL

#search_foods_brunch{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_burgers{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_veggie{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_cocktails{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_wine{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_local{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_happy_hour{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_sights_museum{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_sights_historical{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_sights_touristy{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_sights_parks{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_sights_sunset{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_entertainments_family-friendly{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_entertainments_music{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_entertainments_dancing{
  margin-left: -18px !important;
  margin-top: 8px !important;
}


#search_entertainments_theatre{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_entertainments_sports{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_entertainments_rooftops{
  margin-left: -18px !important;
  margin-top: 8px !important;
}

#search_foods_best_value{
  margin-left: -18px !important;
  margin-top: 8px !important;
}






















