.modal-dialog p {
  color: red;
}

.modal-dialog {
  height: 80vh;
}

.modal-img {
 cursor: pointer;
 position: absolute;
 width: 80px;
 height: 80px;
 border-radius: 50%;
 background-size: 100% auto;
 margin: 20px;
 right: 4%;
 top: 16vh;
 z-index: 2;
 border: white 2px solid;
 opacity: 1;

}



