.navbar-lewagon {
  justify-content: space-between;
  background-color: $grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  color: black;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.logo:hover {
  color: black;
  text-decoration: none;
}

.search {
  width: 50%;
}

#search-bar {
  background-color: rgba(220, 220, 220, 1);
  border-radius: 11px;
  height: 30px;
  padding: 4px 4px;
  font-size: 10.2px;
  // line-height: 1;
}

#search-bar::placeholder {
  color: rgba(0, 0, 0, .3);
  font-size: 13px;
  padding: 0px 4px;
  line-height: 1;
}
