<div class='city-banner'>
  <img src="https://source.unsplash.com/random/?<%=@city.name%>" alt="">
</div>
<div class="container">
  <div class="city-name">
    <h1><%= @city.name.capitalize %></h1>
    <h3>Discover <%= @city.name.capitalize %> TOP tips</h3>
  </div>
      <% @city.places.each do |place| %>
      <div class="tip-card m-2">
        <img src="https://source.unsplash.com/random/?food" alt="" class="image">
        <div class="text ml-3">
          <h2><%= place.name %></h2>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <p>Tipper's say:</p>
          <p>"Great place!"</p>
        </div>
      </div>
      <% end %>
    </div>
</div>
