<div class="tip-card m-2">
  <img src="<%= url_for(place.photo) %>" alt="" class="image">
  <div class="place-card-text ml-3">
    <h4><%= link_to place.name, city_place_path(place.city, place) %></h4>
    <div class="d-flex flex-column">
      <div class="d-flex add-tip-small">
        <p style="font-size: 15px"><i class="fas fa-award"></i><%= link_to "Add a tip!", new_city_place_tip_path(place.city, place) %></p>
      </div>
    </div>
  </div>
</div>

