<div class="tip-card m-2">
  <img src="https://source.unsplash.com/random/?food" alt="" class="image">
  <div class="text ml-3">
    <div class="d-flex">
      <div class="place-name flex-grow-1">
        <h3><%= place.name %></h3>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="card-tips">
      <%= link_to "Add a tip", new_city_place_tip_path(place.city, place) %>
    </div>
  </div>
</div>
